# Base on https://github.com/github/gitignore, collection of useful .gitignore tempaltes

# Mac related
##############################################################################
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# SFTP configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache


# Other Code Editors
# https://packagecontrol.io/packages/sublime-github
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
GitHub.sublime-settings
.nova/*

# MAMP
.well-known/

# WordPress related
##############################################################################
*.log
*.sql
*.sqlite
.htaccess
wp-content/cache
wp-content/languages
wp-content/plugins
wp-content/mu-plugins
wp-content/uploads
wp-content/upgrade
wp-content/themes/twenty*/
wp-content/debug.log
wp-content/cache
wp-content/upgrade-temp-backup
/wp-admin/
/wp-includes/
/license.txt
/readme.html
/xmlrpc.php
/.htaccess
wp/


# Node JS related
##############################################################################
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
!.env.example

# parcel-bundler cache (https://parceljs.org/)
.cache

# next.js build output
.next

# nuxt.js build output
.nuxt

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless

# SCSS Related
##############################################################################
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Composer related
##############################################################################
composer.phar
vendor/
auth.json

# Project Specific
##############################################################################
# Remove config.js after initial project setup so it can be tracked in repo.
wp-content/themes/fk_ventures/assets/**
