{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "plugins": ["@zackad/prettier-plugin-twig"],
  "overrides": [
    {
      "files": "js/**/*.js",
      "options": {
        "semi": true,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    }
  ]
}
