/* CaseStudy */

.HomeSection--case-study {
  overflow: hidden;
}

.CaseStudyGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  align-items: center;
}

.CaseStudy {
  margin: 44px 0;
}

.CaseStudy__Block {
  max-width: 725px;
  position: relative;
  padding: 24px;
  border: 2px solid var(--dark-grey);
  border-radius: var(--border-radius);
}

.CaseStudy__BlockQuote {
  border-top: solid 1px var(--dark-grey);
  border-bottom: solid 1px var(--dark-grey);
  padding: 32px 0;
  margin: 32px 0;
}

.CaseStudy__Qoute,
.CaseStudySingle__QouteQoute {
  font-weight: 700;
  font-size: var(--font-size--large);
  line-height: 1.2;
  margin: 0;
  padding: 0;
  @media (--mq-landscape-tablet-and-up) {
    font-size: var(--font-size--extra-large);
  }
}

.CaseStudy__Author,
.CaseStudySingle__Author {
  font-weight: 700;
  font-size: var(--font-size--large);
  font-style: normal;
  display: block;
  color: var(--palette-action);
  margin: 32px 0 0 0;
  padding: 0;
  text-decoration: none;
  &:hover {
    color: var(--palette-light);
  }
}

.CaseStudy__JobTitle,
.CaseStudySingle__JobTitle {
  display: block;
  margin: 10px 0 0 0;
  padding: 0;
}

.CaseStudy__Header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

@media (--mq-landscape-tablet-and-up) {
  .CaseStudy__Header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .CaseStudy__Header div {
    text-align: right;
  }
}

.Qoute__Programme {
  padding: 10px 0 0 0;
}

.CaseStudy__Header img {
  width: 133px;
  height: auto;
}

.CaseStudy__Header div {
  text-align: left;
  & p.SmallCaps {
    margin: 0;
    color: var(--palette-light);
    & span {
      opacity: 0.5;
    }
  }
}

.StatsList {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.StatsList__Item {
  flex: 0 0 50%;
}

.StatsList__ItemStat {
  font-weight: 700;
  font-size: var(--font-size--jumbo);
  color: var(--palette-action);
  display: block;
}

.StatsList__Desc {
  margin: 12px 0 0 0;
  padding: 0;
}

.CaseStudyLink {
  border-top: solid 1px var(--dark-grey);
  padding-top: 28px;
  margin-top: 28px;
}

/* Right column image carousel */
.CaseStudy__Media {
  padding: 60px 0;
  overflow: visible;
}

.CaseStudy__Images {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.CaseStudy__ImageItem {
  display: grid;
  place-items: center;
  flex: 0 0 80%;
}

.CaseStudy__ImageItem img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

@media (--mq-landscape-tablet-and-up) {
  .CaseStudy {
    position: relative;
  }

  .CaseStudy__Block {
    position: sticky;
    top: 130px;
    margin: 130px 0;
    padding: 44px;
  }

  .CaseStudyGrid {
    grid-template-columns: 725px 1fr;
    align-items: stretch;
  }

  .CaseStudy__Media {
    display: block;
    position: relative;
    padding: 0;
    padding: 100vh 0 100vh 0;
  }

  .CaseStudy__Images {
    width: 350px;
    height: auto;
    flex-direction: column;
  }

  .CaseStudy__Sector {
    text-align: right;
  }
}
