.HomeSection--subnav {
  /* overflow: hidden; */
}

.Subnav__Grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--gap);
  position: relative;
}

.Subnav__Section {
  min-height: 100vh;
  line-height: 1.2;
}

.Subnav__Main {
  padding: 130px 0;
}

.Subnav__Menu {
  display: none;
}

.Subnav__Heading {
  font-size: var(--font-size--extra-large);
  line-height: 120%;
  & + .Subnav__Heading {
    margin-top: 10px;
  }
}

@media (--mq-landscape-tablet-and-up) {
  .Subnav__Heading {
    font-size: var(--font-size--jumbo);
  }

  .HomeSection--subnav {
    padding: 100vh 0 230px 0;
  }

  .Subnav__Section {
    min-height: 100vh;
    line-height: 1.2;
    padding-top: 130px;
  }

  .Subnav__Grid {
    grid-template-columns: 266px 1fr;
    gap: 80px;
  }

  .Subnav__Menu {
    display: block;
    padding-bottom: 230px;
  }

  .Subnav__MenuList {
    display: block;
    position: sticky;
    top: 230px;
    margin: 0;
    padding: 0;
    & li {
      display: block;
      padding: 40px 0;
      border-top: solid 1px #11111120;
      &:first-child {
        border-top: 0;
      }
    }
  }

  .Subnav__Menu a {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-decoration: none;
    color: #11111130;
    &:hover,
    &.active {
      color: var(--palette-dark);
    }
  }

  .Subnav__Main {
    padding: 0;
  }
}

/* Section Gird */
.Subnav__SectionGrid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--gap);
  position: relative;
  @media (--mq-landscape-tablet-and-up) {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing--m);
  }
}

.Subnav__SectionCell p {
  font-size: 24px;
  line-height: 120%;
  & + * {
    margin-top: 0.5em;
  }
}

/* Icon List */
.IconList {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  margin-top: 64px;
}

.IconList__Item svg {
  width: 60px;
  height: auto;
  margin-bottom: 18px;
}

@media (--mq-landscape-tablet-and-up) {
  .IconList {
    grid-template-columns: repeat(3, 1fr);
  }
  .IconList__Item {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -20px;
      height: 100%;
      width: 1px;
      background-color: var(--palette-dark);
      opacity: 0.2;
      pointer-events: none;
    }
    &:first-child::before {
      display: none;
    }
  }
  .IconList__Item p {
    font-size: var(--font-size--medium);
  }
}

/* Programme List */

.ProgrammeList {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  margin-top: 64px;
}

.ProgrammeList__Item {
  border-radius: var(--border-radius);
  background-color: var(--palette-light);
  padding: 24px 24px 32px 24px;
}

.ProgrammeList__Item h3 {
  font-weight: 300;
  margin-bottom: 24px;
  & strong {
    font-weight: 700;
  }
}

.ProgrammeList__Item .Lead {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: solid 1px var(--light-grey);
}

.ProgrammeList__Price {
  margin-top: 24px;
  padding-top: 24px;
  border-top: solid 1px var(--light-grey);
  padding-bottom: 12px;
}

@media (--mq-landscape-tablet-and-up) {
  .ProgrammeList {
    grid-template-columns: repeat(2, 1fr);
  }
  .ProgrammeList__Item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .ProgrammeList__Price {
    margin-top: minmax(24px, auto);
  }
}
