{% extends 'base.twig' %}
{% block content %}
  <div class="Contianer">
    <section id="what" class="Block About About--what" data-appear>
      <div class="Container">
        <div class="ugc">
          <h1>How it works</h1>
          <h2>What</h2>
          <p>
            FK Ventures removes the cash barrier by equipping you with your
            brand: the proposition, identity and assets you need right now.
          </p>
          <p>
            This work, done properly, is game changing, and is fully funded by
            FK Ventures.
          </p>
          <p>
            The work is delivered by <a
              href="https://futurekings.co.uk"
              target="_blank"
            >
              FutureKings
            </a> - a leading branding agency with a decade of expertise in doing
            exactly this.
          </p>
          <p>
            Everything we do is designed to help you win, using brand as a
            powerful and underused business tool.
          </p>
        </div>
      </div>
    </section>
    <section id="what" class="Block About About--when" data-appear>
      <div class="Container ugc">
        <h2>When</h2>
        <p>
          TABBED GRAPH GOES HERE
        </p>
      </div>
    </section>
    <section id="what" class="Block About About--why" data-appear>
      <div class="Container ugc">
        <h2>Why</h2>

        <p>
          90% of startups fail. Of those that do survive, 60% never pass year
          three.
        </p>
        <p>
          Going to market with a clear proposition that carries emotional
          value—beyond the functional—can dramatically improve those odds.
        </p>
        <p>
          It’s the difference between having having a product, and inspiring
          people with your story.
        </p>
        <p>
          It’s the difference between Winning and Losing.
        </p>

        <p>
          A clear and well-defined brand has a drastic impact on a startup’s
          ability to attract and secure investment. Investors are evaluating not
          just the business model, but also how well the company can stand out,
          scale, and build trust in the market.
        </p>
        <p>
          Here’s how brand makes a difference:
        </p>
        <ol>
          <li>Investor confidence and perceived professionalism</li>
          <li>Market differentiation</li>
          <li>Customer focus and growth potential</li>
          <li>Storytelling and alignment</li>
          <li>Risk reduction for early investors</li>
        </ol>

        <p>
          In summary; a clear brand turns an early-stage company from “just
          another startup” into a recognisable, investable business.
        </p>
      </div>
    </section>
    <section id="what" class="Block About About--how" data-appear>
      <div class="Container ugc">
        <h2>How</h2>
        <p>
          Our fund covers the cost of your brand work.
        </p>
        <p>
          We offer you a “no win no fee” deal in exchange for equity.
        </p>
        <p>
          This will vary depending on your stage and PMV, but 5% is a good place
          to start.
        </p>
        <p>
          When you successfully achieve your raise target, you repay the fund
          and we retain the equity
        </p>.<p>
          Genuine partners for the long-term.
        </p>
      </div>
    </section>
    <section id="what" class="Block About About--who" data-appear>
      <div class="Container ugc">
        <h2>Who</h2>
        <h3>FutureKings (FK)</h3>
        <p>
          Established in 20126, an independent creative agency specialising in
          brand strategy, brand identity and brand experience.
        </p>
        <p>
          We partner with owner and founder-led companies to use brand as a
          business tool to drive growth.
        </p>
        <p>
          We do this across all life stages, from early stage investment to
          series funding rounds, and have a decade of case studies, proven
          processes and an industry-leading team in place to support this
          FutureKings Ventures proposition.
        </p>

        <h3>FutureKing Ventures (FKV)</h3>

        <p>
          A company set up by Ben Mott, founder &amp; CEO of FK, and Harry
          Bailey, an experienced business and marketing leader, with 20 years
          experience of working in leading branding agencies.
        </p>
        <p>
          Designed to help cash-strapped founders dramatically improve their
          chances of securing investment, by using brand as a business tool.
        </p>
        <p>
          This is the third FKV funding round, and has been optimised based on
          learnings and insights from Funds 1 &amp; 2 through which we have
          secured equity in 10 startups.
        </p>
      </div>
    </section>
  </div>
  {{ post.content }}
{% endblock %}
