{% extends 'base.twig' %}
{% block content %}
  <div class="Container">
    <div class="Grid">
      <div class="News__Header">
        <h1 class="News__Title h2">
          Search Results for: <span class="SearchQuery">{{ searchQuery }}</span>
        </h1>
      </div>
    </div>
    <div class="News__List Grid Grid--mobile">
      {% for post in posts %}
        {% include 'post-types/search-result.twig' %}
      {% endfor %}
    </div>
    {% include 'partials/pagination.twig' with {
      pagination: posts.pagination({
        show_all: false,
        mid_size: 3,
        end_size: 2
      })
    } %}
  </div>
{% endblock %}
