:root {
  --pageLoadDelay: 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-move-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-appear] .AppearFadeMoveIn {
  opacity: 0;
  transform: translateY(20px);
}

[data-appear].is-visible .AppearFadeMoveIn {
  animation-name: fade-move-in;
  animation-duration: var(--global-duration);
  transition-timing-function: var(--global-timing);
  animation-fill-mode: both;
  animation-delay: 0s;
}

[data-appear] {
  &.is-visible .Delay:nth-child(1) {
    animation-delay: var(--pageLoadDelay);
  }
  &.is-visible .Delay:nth-child(2) {
    animation-delay: calc(var(--pageLoadDelay) * 2);
  }
  &.is-visible .Delay:nth-child(3) {
    animation-delay: calc(var(--pageLoadDelay) * 3);
  }
  &.is-visible .Delay:nth-child(4) {
    animation-delay: calc(var(--pageLoadDelay) * 4);
  }
  &.is-visible .Delay:nth-child(5) {
    animation-delay: calc(var(--pageLoadDelay) * 5);
  }
  &.is-visible .Delay:nth-child(6) {
    animation-delay: calc(var(--pageLoadDelay) * 6);
  }
  &.is-visible .Delay:nth-child(7) {
    animation-delay: calc(var(--pageLoadDelay) * 7);
  }
  &.is-visible .Delay:nth-child(8) {
    animation-delay: calc(var(--pageLoadDelay) * 8);
  }
  &.is-visible .Delay:nth-child(9) {
    animation-delay: calc(var(--pageLoadDelay) * 9);
  }
  &.is-visible .Delay:nth-child(10) {
    animation-delay: calc(var(--pageLoadDelay) * 10);
  }
}
