.splide {
  overflow: hidden;
}

.splide__arrows {
  margin-top: var(--spacing--m);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing--xs);
  transition: all var(--global-transition);
}

.splide__arrow {
  background: transparent;
  border: 0;
  border-radius: 0;
  height: var(--spacing--m);
  width: var(--spacing--m);
  opacity: 1;
  position: static;
  transform: none;
  color: var(--mid-grey);
  &:hover {
    color: var(--palette-action);
  }
  & svg {
    fill: transparent;
    display: block;
    height: var(--spacing--m);
    width: var(--spacing--m);
  }
}

.splide__arrow--prev svg {
  transform: rotate(90deg);
}
.splide__arrow--next svg {
  transform: rotate(-90deg);
}

/* Pagination */
.splide__pagination {
  position: static;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--spacing--xs);
}

.splide__pagination li {
  line-height: 0;
}
.splide__pagination__page {
  background: var(--mid-grey);
  height: var(--spacing--xs);
  width: var(--spacing--xs);
  margin: 0;
  opacity: 1;
  border-radius: 0;
  transform: scale(1);
}

.splide__pagination__page.is-active {
  background: var(--palette-action);
  transform: scale(1);
}
