.glightbox-clean .gslide-desc {
  font-family: var(--typeface-body);
  font-size: var(--font-size--default);
}

.glightbox-clean .gclose,
.glightbox-clean .gnext,
.glightbox-clean .gprev {
  background-color: var(--palette-action);
  color: var(--palette-dark);
  transition: all var(--global-transition);
  border-radius: var(--border-radius);
  & path {
    fill: var(--palette-dark);
    transition: all var(--global-transition);
  }
  &:hover {
    background-color: var(--palette-dark);
    color: var(--palette-action);
    & path {
      fill: var(--palette-action);
    }
  }
}

.glightbox-clean .gclose {
  opacity: 1 !important;
}
