.NewsletterCTA {
  grid-column: 1 / -1;
  padding: var(--spacing--l) 0;
  background-color: var(--light-grey);
  padding: var(--spacing--m);
  border-radius: var(--border-radius);
}

@media (--mq-landscape-tablet-and-up) {
  .Cell__One {
    grid-row: 1;
    grid-column: 1 / span 6;
    margin-bottom: 0;
  }
  .Cell__Two {
    grid-row: 1;
    grid-column: 7 / span 6;
  }
}
