.SpiralDemo {
  position: relative;
}

.Spiral {
  display: flex;
  justify-content: center;
  align-items: top;
  position: relative;
  background-color: var(--palette-action);
  height: 496px;
  overflow: hidden;
  max-width: 1060px;
  margin: 0 auto;
  border-radius: var(--border-radius);
}

.Spiral svg {
  width: 105%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Sprial__Text {
  z-index: 999;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  color: var(--palette-dark);
}

.Sprial__Text span {
  opacity: 0;
  transition: opacity 200ms linear;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sprial__Text span.is-active {
  opacity: 1;
}
