<header class="Header" role="banner">
  <div class="Container Header__Container">
    <a
      href="{{ site.url }}"
      class="Header__Title"
      aria-label="{{ site.title }}"
    >
      {{ source(directory ~ 'images/logo.svg') }}
    </a>

    <a href="#apply" class="Button Button--hollow">Apply now</a>
  </div>

  <b class="Header__Progress"></b>
</header>
