<div class="Card">
  {% include 'partials/media.twig' with {
    media: card.media,
    class: 'Card__Media',
    imageSize: 'card_panel'
  } %}
  <div class="Card__Header">
    {% if card.heading %}
      <h3 class="Card__Title">
        {{ card.heading }}
      </h3>
    {% endif %}
    {% if card.subtitle %}
      <h4 class="Card__Subtitle">
        {{ card.subtitle }}
      </h4>
    {% endif %}
  </div>

  <div class="Card__Content ugc">
    {% if card.copy %}
      <p class="Card__Copy">
        {{ card.copy }}
      </p>
    {% endif %}

    {% if card.button %}
      {% include 'partials/button.twig' with {
        button: card.button,
        buttonArrow: true,
        buttonHollow: false
      } %}
    {% endif %}
  </div>
</div>
