<div class="Media {{ class }}">
  {% if media.media_type == 'image' %}
    {% if media.media_image %}
      {% set image = get_image(media.media_image) %}
      {# {% imageSize %} #}
      {% include 'partials/responsive-image.twig' with {
        image_id: image.id,
        class: 'Media__Image'
      } %}
    {% endif %}
  {% else %}
    {% if media.video %}
      <div class="EmbedContainer">
        {{ videoEmbed(media.video, media.video_autoplay) }}
      </div>
    {% endif %}
  {% endif %}
</div>
