<div class="NewsletterCTA">
  <div class="Grid">
    <div class="Cell__One">
      {% if options.newsletter_title %}
        <h2 class="Newsletter__Title">
          {{ options.newsletter_title }}
        </h2>
      {% endif %}
      {% if options.newsletter_copy %}
        <p class="Newsletter__Copy">
          {{ options.newsletter_copy }}
        </p>
      {% endif %}
    </div>
    <div class="Cell__Two">
      {% include 'newsletter-form.twig' %}
    </div>
  </div>
</div>
