/* Normalise */
@import '../../node_modules/normalize.css/normalize.css';

/* Lenis */
@import '../../node_modules/lenis/dist/lenis.css';

/* Global */
@import 'global/settings';
@import 'global/base';
@import 'global/font';
@import 'global/typography';
@import 'global/a11y';
@import 'global/buttons';
@import 'global/video';
@import 'global/forms';
@import 'global/grid';

/* Partials */
@import 'partials/container';
@import 'partials/site-header';
@import 'partials/site-footer';
@import 'partials/animations';

/* Templates */
@import 'templates/error';
@import 'templates/home';
@import 'templates/case-study';

/* Sections */
@import 'home/who';
@import 'home/portfolio';
@import 'home/subnav';
@import 'home/form';
@import 'home/cta';
@import 'home/case-study';
