.CaseStudy__Hero {
  margin-top: var(--flow);
}

.CaseStudy__Header {
  margin-top: var(--flow);
  padding: 0 var(--spacing--xl);
  display: grid;
  gap: var(--spacing--xl);
  grid-template-columns: 1fr;
}

@media (--mq-landscape-tablet-and-up) {
  .CaseStudy__Header {
    grid-template-columns: repeat(2, 1fr);
  }
}
