:root {
  --bgTransition: cubic-bezier(0.72, 0, 0.28, 1) 300ms;
}

#SpiralBG {
  fill: var(--palette-light);
  opacity: 0.05;
  width: 125%;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.HomeSection {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  /* outline: solid 1px blue; */
}

.HomeSection--centered,
.HomeSection--text,
.HomeSection--portfolio,
.HomeSection--quote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.HomeSection--portfolio,
.HomeSection--text {
  justify-content: flex-start;
}

.HomeSection--quote {
  text-align: left;
}

.HomeSection--text {
  text-align: left;

  & .Container {
    & * + * {
      margin-top: 1em;
    }
    @media (--mq-landscape-tablet-and-up) {
      max-width: var(--max-width--thin);
    }
  }

  & h2.SmallCaps {
    color: var(--mid-grey);
  }
  & p {
    font-size: var(--font-size--extra-large);
    @media (--mq-landscape-tablet-and-up) {
      font-size: var(--font-size--jumbo);
    }
  }
}

.HomeSection__Heading {
  font-family: var(--typeface-heading);
  font-weight: 700;
  font-size: var(--font-size--jumbo);
  line-height: 1.2;
  & b,
  & strong {
    font-weight: 700;
    color: var(--palette-action);
  }
  @media (--mq-landscape-tablet-and-up) {
    font-size: var(--font-size--mega);
  }
}

.HomeSection__Huge {
  font-size: calc((194 / 16) * 1rem);
  display: block;
}

/* Pannels */
.HomeSection--pannels {
  padding: var(--spacing--xxl);
}

.HomePannels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing--m);
}

.HomePannel {
  height: 100%;
  border-radius: var(--border-radius);
  border: solid 1px var(--palette-light);
  padding: var(--spacing--m);
  min-height: calc(100vh - var(--spacing--xxl) - var(--spacing--xxl));
}

/* Background BG */
body {
  transition: all var(--bgTransition);
  will-change: background-color, color;
  & .BodyBg svg {
    transition: all var(--bgTransition);
  }

  &[data-bg='yellow'] {
    background-color: var(--palette-action);
    color: var(--palette-dark);

    & a {
      color: var(--palette-dark);
      text-decoration-color: transparent;
      &:hover {
        color: var(--palette-dark);
        text-decoration-color: var(--palette-dark);
      }
    }

    a.Button {
      background-color: var(--palette-dark);
      border-color: var(--palette-dark);
      color: var(--palette-light);
      &:hover {
        background-color: var(--palette-light);
        border-color: var(--palette-light);
        color: var(--palette-dark);
      }
    }

    & .Header__Progress {
      background-color: var(--palette-dark);
    }

    & #SpiralBG {
      fill: var(--palette-dark);
    }

    & .Subnav__Menu a {
      color: #11111130 !important;
      &:hover,
      &.active {
        color: var(--palette-dark) !important;
      }
    }

    & svg .logo-ventures {
      fill: var(--palette-light) !important;
    }
  }
}
