:root {
  --bgTransition: cubic-bezier(0.72, 0, 0.28, 1) 300ms;
}

.HomeSection {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

.HomeSection--centered,
.HomeSection--text,
.HomeSection--portfolio,
.HomeSection--case-study {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.HomeSection--portfolio,
.HomeSection--text,
.HomeSection--case-study {
  justify-content: flex-start;
}

.HomeSection.HomeSection--centered,
.HomeSection.HomeSection--portfolio,
.HomeSection.HomeSection--text {
  overflow: hidden;
}

.HomeSection.HomeSection--portfolio {
  min-height: 0;
}

.HomeSection--case-study {
  text-align: left;
}

.HomeSection--text {
  text-align: left;

  & .Container {
    & * + * {
      margin-top: 1em;
    }
    @media (--mq-landscape-tablet-and-up) {
      max-width: var(--max-width--thin);
    }
  }

  & h2.SmallCaps {
    color: var(--palette-dark);
  }
  & p {
    font-size: var(--font-size--extra-large);
    @media (--mq-landscape-tablet-and-up) {
      font-size: var(--font-size--jumbo);
    }
  }
}

.HomeSection__Heading {
  font-size: var(--font-size--jumbo);
  line-height: 1.2;
  & b,
  & strong {
    font-weight: 500;
    font-family: var(--typeface-heading);
    /* color: var(--palette-action); */
  }
  @media (--mq-landscape-tablet-and-up) {
    font-size: var(--font-size--super-mega);
  }
}

.HomeSection__Huge {
  font-size: var(--font-size--super-mega);
  display: block;
  @media (--mq-landscape-tablet-and-up) {
    font-size: calc((194 / 16) * 1rem);
  }
}

/* Pannels */
.HomeSection--pannels {
  padding: var(--spacing--xxl);
}

.HomePannels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing--m);
}

.HomePannel {
  height: 100%;
  border-radius: var(--border-radius);
  border: var(--border);
  padding: var(--spacing--m);
  min-height: calc(100vh - var(--spacing--xxl) - var(--spacing--xxl));
}

/* Body Background Sections */

body[data-bg='yellow'],
body[data-bg='black'] {
  background-color: var(--palette-action);
  color: var(--palette-dark);
  z-index: 999;
  position: relative;
}

body[data-bg='yellow'] {
}

body[data-bg='black'] {
  background-color: var(--palette-dark);
  color: var(--palette-light);

  & .Header__Progress {
    background-color: var(--palette-action);
  }

  & .LetterF,
  & .LetterK {
    color: var(--white);
  }
}

/* Background BG */
body {
  transition: all var(--bgTransition);
  will-change: background-color, color;
  & .BodyBg svg {
    transition: all var(--bgTransition);
  }

  &[data-bg='yellow'] {
    & .Button {
      background-color: var(--palette-dark);
      border-color: var(--palette-dark);
      color: var(--palette-light);
      &:hover {
        background-color: var(--palette-light);
        border-color: var(--palette-light);
        color: var(--palette-dark);
      }
    }

    & svg .logo-fk {
      fill: var(--palette-dark) !important;
    }
    & svg .logo-ventures {
      fill: var(--palette-dark) !important;
    }
  }

  &[data-bg='black'] {
    & svg .logo-fk {
      fill: var(--palette-light) !important;
    }
    & svg .logo-ventures {
      fill: var(--black-600) !important;
    }

    & .Button {
      background-color: var(--palette-action);
      border-color: var(--palette-action);
      color: var(--palette-dark);
      &:hover {
        background-color: var(--palette-light);
        border-color: var(--palette-light);
        color: var(--palette-dark);
      }
    }

    & .CaseStudy__Author {
      color: var(--palette-light);
    }

    & .CaseStudy__BlockQuote,
    & .CaseStudy__Block,
    & .CaseStudyLink {
      border-color: var(--black-600);
    }

    .HomeSection--text h2.SmallCaps {
      background-color: var(--palette-light);
    }
  }
}

/* Kern fix on split text */

.AnimatedHeading {
  opacity: 0;
  font-kerning: none;
  text-rendering: optimizeSpeed;
}
