body.search,
body.post-type-archive-case-study {
  & .MainContent {
    padding-bottom: var(--spacing--l);
  }

  & .News__Title {
    color: var(--palette-dark);
    & span {
      color: var(--palette-action);
    }
  }

  & .Pagination__ListItem a,
  & .Pagination__ListItem button,
  & .Pagination__ListItem span {
    color: var(--palette-dark);
    &:hover {
      background-color: var(--mid-grey) !important;
      border-color: var(--mid-grey) !important;
      color: var(--palette-dark) !important;
    }
  }

  & .Pagination__ListItem .Pagination__ArrowLink {
    color: var(--palette-dark);
  }

  &:hover {
    background-color: transparent !important;
    border-color: var(--mid-grey) !important;
    color: var(--palette-light) !important;
  }
}
