{% extends 'block-layout.twig' %}
{% block block_content %}
  <div class="Container">
    <div class="Grid" data-layout="{{ fields.layout }}">
      <div class="ContentPanel__Text">
        {% if fields.text_content.eyebrow or fields.text_content.heading %}
          <div class="ContentPanel__Header AppearFadeMoveIn Delay">
            {% if fields.text_content.eyebrow %}
              <span
                class="ContentPanel__Eyebrow SmallCaps AppearFadeMoveIn Delay"
              >
                {{ fields.text_content.eyebrow }}
              </span>
            {% endif %}
            {% if fields.text_content.heading %}
              <h2 class="ContentPanel__Title AppearFadeMoveIn Delay">
                {{ fields.text_content.heading }}
              </h2>
            {% endif %}
          </div>
        {% endif %}
        {% if fields.text_content.copy or fields.text_content.button %}
          <div class="ContentPanel__Copy ugc AppearFadeMoveIn Delay">
            {{ fields.text_content.copy }}
            {% if fields.text_content.button %}
              {% include 'partials/button.twig' with {
                button: fields.text_content.button,
                buttonArrow: true,
                buttonHollow: false,
                class: 'AppearFadeMoveIn Delay'
              } %}
            {% endif %}
          </div>
        {% endif %}
      </div>

      <div class="ContentPanel__Media AppearFadeMoveIn Delay">
        {% if fields.media_content.type == 'media' %}
          {% include 'partials/media.twig' with {
            media: fields.media_content.media,
            class: 'ContentPanel__ActualMedia',
            imageSize: 'content_panel'
          } %}
        {% elseif fields.media_content.type == 'card' %}
          {% if fields.media_content.card %}
            {% include 'partials/card.twig' with {
              card: fields.media_content.card
            } %}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
