{% extends 'block-layout.twig' %}
{% block block_content %}
  <div class="Container">
    <div class="Cta__Wrapper">
      {% include 'partials/media.twig' with {
        media: fields.media,
        class: 'Cta__Image',
        imageSize: 'hero'
      } %}
      {% if fields.heading %}
        <h2 class="Cta__Title h2 AppearFadeMoveIn Delay">
          {{ fields.heading }}
        </h2>
      {% endif %}
      {% if fields.copy %}
        <div class="Cta__Copy AppearFadeMoveIn Delay ugc">
          {{ fields.copy }}
        </div>
      {% endif %}
      {% if fields.button_1 or fields.button_2 %}
        <div class="Cta__Buttons ButtonsWrap--center ButtonsWrap">
          {% if fields.button_1 %}
            {% include 'partials/button.twig' with {
              button: fields.button_1,
              buttonArrow: false,
              buttonHollow: false,
              class: 'AppearFadeMoveIn Delay'
            } %}
          {% endif %}
          {% if fields.button_2 %}
            {% include 'partials/button.twig' with {
              button: fields.button_2,
              buttonArrow: false,
              buttonHollow: true,
              class: 'AppearFadeMoveIn Delay'
            } %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
