{% extends 'block-layout.twig' %}
{% block block_content %}
  <div class="Container">
    <div class="Grid">
      <div class="Gallery__Text">
        {% if fields.heading %}
          <h2 class="Gallery__Title h2 AppearFadeMoveIn Delay">
            {{ fields.heading }}
          </h2>
        {% endif %}
        {% if fields.copy %}
          <div p class="Gallery__Copy AppearFadeMoveIn Delay ugc">
            {{ fields.copy }}
          </div>
        {% endif %}
        {% if fields.button %}
          {% include 'partials/button.twig' with {
            button: fields.button,
            buttonArrow: false,
            buttonHollow: false,
            class: 'AppearFadeMoveIn Delay'
          } %}
        {% endif %}
      </div>
      {% if fields.gallery %}
        <div class="Gallery__Images">
          {% for image in fields.gallery %}
            {% set image = get_image(image) %}

            <a
              href="{{ image.src('full') }}"
              class="Gallery__Link Lightbox prevent AppearFadeMoveIn Delay"
              data-gallery="gallery1"
              data-glightbox="description: {{ image.name }}"
            >
              {% include 'partials/responsive-image.twig' with {
                image_id: image.id,
                class: 'Gallery__Image'
              } %}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
