{% extends 'block-layout.twig' %}
{% block block_content %}
  <div class="Container">
    <div class="Hero__Container">
      <div class="Hero__Content">
        {% if fields.heading %}
          <h1 class="Hero__Title AppearFadeMoveIn Delay">
            {{ fields.heading }}
          </h1>
        {% endif %}
        {% if fields.copy %}
          <div class="Hero__Copy ugc AppearFadeMoveIn Delay">
            {{ fields.copy }}
          </div>
        {% endif %}
        {% if fields.button_1 or fields.button_2 %}
          <div class="ButtonsWrap">
            {% if fields.button_1 %}
              {% include 'partials/button.twig' with {
                button: fields.button_1,
                buttonHollow: true,
                class: 'AppearFadeMoveIn Delay'
              } %}
            {% endif %}
            {% if fields.button_2 %}
              {% include 'partials/button.twig' with {
                button: fields.button_2,
                buttonHollow: true,
                class: 'AppearFadeMoveIn Delay'
              } %}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
