{% extends 'block-layout.twig' %}
{% block block_content %}
  {% include 'partials/media.twig' with {
    media: fields.media,
    class: 'HomeHero__Media'
  } %}

  <div class="Container HomeHero__Container">
    <div class="HomeHero__Content">
      <h1 class="HomeHero__Title AppearFadeMoveIn Delay">
        {{ fields.line_one }}
        <span>{{ fields.line_two }}</span>
      </h1>
      {% if fieldls.copy %}
        <div class="HomeHero__Copy ugc AppearFadeMoveIn Delay">
          {{ fields.copy }}
        </div>
      {% endif %}
    </div>

    {% if fields.link %}
      {% include 'partials/button.twig' with {
        button: fields.link,
        buttonArrow: true,
        class: 'AppearFadeMoveIn Delay'
      } %}
    {% endif %}
  </div>
{% endblock %}
