{% extends 'block-layout.twig' %}
{% block block_content %}
  <div class="Container">
    {% if fields.heading %}
      <h2 class="MediaCardCarousel__Title AppearFadeMoveIn Delay">
        {{ fields.heading }}
      </h2>
    {% endif %}
    {% if fields.slides %}
      <div class="splide MediaCardCarousel__List" aria-label="Logos">
        <div class="splide__track">
          <ul class="splide__list">
            {% for slide in fields.slides %}
              <li
                class="MediaCardCarousel__Slide MediaCardCarousel__Slide--{{
                loop.index
                }} splide__slide"
              >
                {% include 'partials/card.twig' with {
                  card: slide.card
                } %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            {{ source(directory ~ 'images/chrevron-down.svg') }}
          </button>
          <ul class="splide__pagination"></ul>
          <button class="splide__arrow splide__arrow--next">
            {{ source(directory ~ 'images/chrevron-down.svg') }}
          </button>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
