{% extends 'block-layout.twig' %}
{% block block_content %}
  <div class="Container">
    <div class="Results__Container">
      <h2 class="Results__Title">The Results</h2>
      <div class="Results__Content">
        {% for block in fields.rows %}
          <p class="Result Result--{{ block.size }}">
            <strong class="Result__Headline">{{ block.title }}</strong>
            <span class="Result__Desc">{{ block.description }}</span>
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
