.Badges {
  --gap: var(--spacing--l);
  --duration: 30s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.Badges__Title {
  text-align: center;
  margin-bottom: var(--spacing--m);
}

.Badges__Badge {
  height: var(--spacing--m);
  & img {
    height: var(--spacing--m);
    width: auto;
  }
}

.Marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.Marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
  width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .Marquee__group {
    animation-play-state: paused;
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}
