.ContentPanel__Header {
  margin-bottom: var(--spacing--xs);
  > * + * {
    margin-top: var(--spacing--xs);
  }
}

.ContentPanel .Grid[data-layout='image-text'] {
  & .ContentPanel__Text {
    grid-row: 2;
  }
  & .ContentPanel__Media {
    grid-row: 1;
  }
}

@media (--mq-landscape-tablet-and-up) {
  .ContentPanel__Text {
    grid-row: 1;
    grid-column: 2 / span 4;
  }
  .ContentPanel__Media {
    grid-row: 1;
    grid-column: 7 / span 5;
  }

  .ContentPanel .Grid[data-layout='image-text'] {
    & .ContentPanel__Text {
      grid-row: 1;
      grid-column: 8 / span 4;
    }
    & .ContentPanel__Media {
      grid-row: 1;
      grid-column: 2 / span 5;
    }
  }
}
