.CtaLink {
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid var(--border-width) var(--palette-action);
  color: var(--palette-action);
  border-radius: var(--border-radius);
  text-decoration: none;
  padding: 60px 36px;
  transition: all var(--global-transition);
  & .Button {
    background-color: transparent;
    color: var(--palette-action);
    &::after {
      display: none;
    }
  }
  &:hover {
    text-decoration: none;
    color: var(--palette-action);
    background-color: transparent;
    & .Button {
      background-color: var(--palette-action);
      border-color: var(--palette-dark);
      color: var(--palette-dark);
      &::after {
        display: none;
      }
    }
  }
}

.CtaLink--2 {
  background-color: var(--palette-action);
  color: var(--palette-dark);
  & .Button {
    background-color: var(--palette-action);
    border-color: var(--palette-dark);
    color: var(--palette-dark);
  }
  &:hover {
    background-color: var(--palette-action);
    color: var(--palette-dark);
    & .Button {
      background-color: var(--palette-dark);
      border-color: var(--palette-dark);
      color: var(--palette-action);
    }
  }
}

.CtaLink__Heading {
  margin-bottom: var(--spacing--s);
  line-height: 1.2;
}
