.Downloads__Header {
  padding-bottom: var(--spacing--s);
  & > * + * {
    margin-top: 24px;
  }
}

.Downloads__List li {
  display: block;
  border-top: var(--border);
  padding: 20px 0;
}

.Download {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  text-decoration: none;
  & svg {
    width: 24px;
    color: var(--palette-dark);
  }
  &:hover {
    color: var(--palette-dark);
  }
}
.Download svg {
  transform: rotate(90deg);
  transition: all var(--global-transition);
}

.Download:hover svg {
  transform: translateY(5px) rotate(90deg);
}

.Download__Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.Download__Title {
  color: var(--palette-dark);
}

.Download:hover .Download__Title {
  color: var(--palette-action);
}
