.IconCardPanel__Header {
  margin-bottom: var(--spacing--m);
  & > * + * {
    margin-top: var(--spacing--xs);
  }
}

.IconCardPanel__Cards {
  gap: var(--gap);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.IconCard {
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
  padding: var(--spacing--xs);
  & > * + * {
    margin-top: var(--spacing--xs);
  }
}

.IconCard__Icon {
  width: 40px;
  height: auto;
}

/* Center Varient */
.IconCardPanel--center {
  text-align: center;

  & .IconCardPanel__Header {
    text-align: center;
  }

  & .IconCardPanel__Cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
}

@media (--mq-landscape-tablet-and-up) {
  .IconCardPanel__Cards--two {
    grid-template-columns: repeat(2, 1fr);
  }
  .IconCardPanel__Cards--three {
    grid-template-columns: repeat(3, 1fr);
  }
  .IconCardPanel__Cards--four {
    grid-template-columns: repeat(4, 1fr);
  }
  .IconCardPanel__Cards--five {
    grid-template-columns: repeat(5, 1fr);
  }
  .IconCardPanel__Cards--six {
    grid-template-columns: repeat(6, 1fr);
  }

  /* Center Varient */
  .IconCardPanel--center {
    .IconCardPanel__Cards--two .IconCard {
      flex-basis: calc(50% - var(--gap));
    }
    .IconCardPanel__Cards--three .IconCard {
      flex-basis: calc(33.3% - var(--gap));
    }
    .IconCardPanel__Cards--four .IconCard {
      flex-basis: calc(25% - var(--gap));
    }
    .IconCardPanel__Cards--five .IconCard {
      flex-basis: calc(20% - var(--gap));
    }
    .IconCardPanel__Cards--six .IconCard {
      flex-basis: calc(16.6% - var(--gap));
    }
  }
}
