.Quote__Container {
  background-color: var(--palette-mid);
  color: var(--brown-mid);
  border-radius: var(--border-radius);
  padding: 40px;
}

.Quote__Quote,
.Quote__Author {
  margin-bottom: 24px;
}

.Quote__Quote,
.Influencer__Quote p {
  position: relative;
  &::before {
    content: '“';
    position: absolute;
    top: 0;
    left: -0.1em;
    transform: translateX(-100%);
  }
  &::after {
    content: '”';
  }
}

blockquote,
blockquote p {
  leading-trim: both;
  text-edge: cap;
  font-size: var(--font-size--large);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height--heading);
  color: var(--palette-light);
}

.Quote__Container .Grid {
  row-gap: 40px;
}

@media (--mq-landscape-tablet-and-up) {
  blockquote,
  blockquote p {
    font-size: var(--font-size--extra-large);
  }

  .Quote__Wrapper {
    grid-column: span 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .Quote__Media {
    grid-column: span 5;
  }

  .Quote__Quote,
  .Quote__Author {
    margin-bottom: 44px;
  }

  .Quote__Author {
    margin-top: auto;
  }

  .Quote--image-text {
    .Quote__Wrapper {
      grid-column: 6 / span 7;
      grid-row: 1;
    }

    .Quote__Media {
      grid-column: 1 / span 5;
      grid-row: 1;
    }
  }
}
