.Sidebar__Nav {
  position: relative;
}

.Sidebar__NavWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--xs);
}

.Sidebar__NavTitle {
  margin-bottom: 12px;
}

.Sidebar__SectionHeading {
  border-top: var(--border);
  padding-top: var(--spacing--xs);
}

.Sidebar__Section {
  & + .Sidebar__Section {
    margin-top: var(--spacing--l);
  }
}

.Sidebar__SectionHeading {
  color: var(--color-mid-grey);
  padding-bottom: 1em;
}

@media (--mq-landscape-tablet-and-up) {
  .Sidebar__Nav {
    grid-row: 1;
    grid-column: 2 / span 2;
    padding-top: 80px;
  }
  .Sidebar__Main {
    grid-row: 1;
    grid-column: 4 / span 8;
  }

  .Sidebar__NavWrapper {
    position: sticky;
    top: 80px;
  }

  .Sidebar__Section {
    padding-top: 80px;
    & + .Sidebar__Section {
      margin-top: var(--spacing--xxl);
    }
  }
}
