.Steps__Header {
  padding-bottom: var(--spacing--m);
  & > * + * {
    margin-top: var(--spacing--xs);
  }
}

.StepsList {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.Step__Number {
  color: var(--palette-action);
  margin-bottom: var(--gap);
}

.Step__Title {
  margin-bottom: var(--spacing--xs);
}

.CenterButtonWrapper {
  margin-top: var(--spacing--m);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (--mq-landscape-tablet-and-up) {
  .StepsList {
    flex-direction: row;
  }
}
