.Tabs__Header {
  margin-bottom: var(--spacing--m);
  > * + * {
    margin-top: var(--spacing--xs);
  }
}

.TabGroup__Buttons {
  padding-left: var(--spacing--xs);
}

button.TabGroup__Button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: var(--spacing--xs);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  &:hover {
    color: var(--palette-action);
  }
  &.active {
    background-color: var(--light-grey);
    color: var(--palette-dark);
    cursor: auto;
  }
}

.Tab {
  background-color: var(--light-grey);
  display: none;
  padding: var(--spacing--m);
  border-radius: var(--border-radius);
  &.active {
    display: block;
    cursor: auto;
    pointer-events: none;
  }
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  .TabGroup__Button {
    --tab-transition-duration: 0.001ms !important;
  }
}
