/*
100 	Thin (Hairline)
200 	Extra Light (Ultra Light)
300 	Light
400 	Normal
500 	Medium
600 	Semi Bold (Demi Bold)
700 	Bold
800 	Extra Bold (Ultra Bold)
900 	Black (Heavy)
*/

@font-face {
  font-family: 'F37Jagger';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/F37Jagger-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'F37Jagger';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/F37Jagger-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'F37Jagger';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/F37Jagger-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'F37Jagger';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/F37Jagger-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ParaSupreme';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ParaSupreme-MediumNormal.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ParaSupreme';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ParaSupreme-LightNormal.woff2') format('woff2');
  font-display: swap;
}
