:root {
  --white: #ffffff;
  --black: #282623;
  --yellow: #fafa6e;

  --black-1000: var(--black);
  --black-800: #3d3c39;
  --black-600: #53514f;
  --black-400: #686765;
  --black-200: #939291;
  --black-100: #d4d4d3;
  --black-50: #e9e9e9;

  /* Palettes */
  --palette-body: var(--black);
  --palette-bg: var(--black-50);
  --palette-heading: var(--black);
  --palette-action: var(--yellow);
  --palette-hover: var(--black-600);

  --palette-light: var(--black-50);
  --palette-mid: var(--black-100);
  --palette-dark: var(--black-1000);

  --palette-success: #0da440;
  --palette-error: #ff0000;
  --palette-warning: #ffbf00;

  /* Sizing */
  --spacing--xxs: calc((12 / 16) * 1rem);
  --spacing--xs: calc((18 / 16) * 1rem);
  --spacing--s: calc((24 / 16) * 1rem);
  --spacing--m: calc((32 / 16) * 1rem);
  --spacing--l: calc((56 / 16) * 1rem);
  --spacing--xl: calc((67 / 16) * 1rem);
  --spacing--xxl: calc((96 / 16) * 1rem);

  --flow: calc((96 / 16) * 1rem);

  /* Grid */
  --max-width: 1216px;
  --max-width--thin: 1060px;
  --gap: 16px;
  --page-padding: 16px;
  --col-width: calc((100% - (11 * var(--gap))) / 12);

  /* Borders */
  --border-width: 1px;
  --border: solid var(--border-width) var(--black-100);

  /* Border Radius */
  --border-radius: 3px;

  /* A11y */
  --a11y-outline: dashed 1px var(--palette-light);
  --a11y-outline-light: dashed 1px var(--black-600);

  /* Type */
  --typeface-heading: 'ParaSupreme', serif;
  --typeface-body: 'F37Jagger', sans-serif;

  /* Font Sizes */
  /* --px-to-rem: calc((var(--pixels) / 16) * 1rem); */
  --font-size--super-mega: calc((58 / 16) * 1rem);
  --font-size--mega: calc((48 / 16) * 1rem);
  --font-size--jumbo: calc((38 / 16) * 1rem);
  --font-size--extra-large: calc((24 / 16) * 1rem);
  --font-size--large: calc((21 / 16) * 1rem);
  --font-size--medium: calc((18 / 16) * 1rem);
  --font-size--default: calc((16 / 16) * 1rem);
  --font-size--small: calc((14 / 16) * 1rem);
  --font-size--tiny: calc((12 / 16) * 1rem);
  --font-size--micro: calc((10 / 16) * 1rem);

  /* Line height */
  --line-height--heading: 1.2;
  --line-height--body: 1.2;

  /* Transitions */
  --global-timing: cubic-bezier(0.25, 0, 0.3, 1);
  --global-duration: 0.5s;
  --global-transition: var(--global-duration) var(--global-timing);

  @media (--mq-landscape-tablet-and-up) {
    --flow: calc((224 / 16) * 1rem);
    --page-padding: 112px;
  }
}
