/* Text */
p,
ul,
ol,
small {
  font-size: var(--font-size--base);
  line-height: 1;
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--palette-body);
  font-family: var(--typeface-body);
  font-weight: 300;
  margin: 0;
  text-wrap: balance;
  text-wrap: pretty;
  line-height: var(--line-height--heading);

  & b,
  & strong {
    font-weight: 500;
  }
  & span {
    color: var(--palette-action);
  }
}

h1,
.h1 {
  font-size: var(--font-size--mega);
}

h2,
.h2 {
  font-size: var(--font-size--jumbo);
}

h3,
.h3 {
  font-size: var(--font-size--extra-large);
}

h4,
.h4 {
  font-size: var(--font-size--large);
}

h5,
.h5 {
  font-size: var(--font-size--medium);
}

h6,
.h6 {
  font-size: var(--font-size--default);
}

small,
.small {
  font-size: 80%;
}

.strikethough {
  text-decoration: line-through;
}

.is-centered {
  text-align: center;
}

.SmallCaps,
.Tag {
  font-size: var(--font-size--tiny);
  font-size: 0.75rem;
  leading-trim: both;
  text-edge: cap;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
}

.gfield_label,
.gform-field-label,
.gfield_label.gform-field-label {
  font-size: var(--font-size--tiny) !important;
  font-size: 0.75rem !important;
  leading-trim: both !important;
  text-edge: cap !important;
  letter-spacing: 0.1em !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  line-height: 1 !important;
}

.Tag {
  font-size: 10px !important;
  padding: 10px 12px;
  text-align: center;
  border-radius: var(--border-radius);
  border: 0.5px solid var(--black-200);
  background-color: var(--white);
  color: var(--palette-dark);
}

.SmallCaps {
  margin-bottom: var(--spacing--xs);
}

.Tag--yellow {
  background-color: var(--palette-action);
  border-color: var(--palette-action);
  color: var(--palette-dark);
}

.TagList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing--xxs);
  line-height: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.TagList--center {
  justify-content: center;
}

.Tag.active,
a.Tag.active,
a.Tag.active:hover {
  background-color: var(--palette-dark);
  border-color: var(--palette-mid);
  color: var(--theme-foreground);
}

a.Tag.active:hover {
  pointer-events: none;
}

a.Tag,
button.Tag,
summary.Tag {
  transition: all var(--global-transition);
  background-color: transparent;
  color: var(--palette-action);
  border-color: var(--palette-action);
  text-decoration: none;
  &:hover {
    background-color: var(--palette-action);
    border-color: var(--palette-action);
    color: var(--theme-background);
  }
}

a.Tag--grey,
button.Tag--grey,
summary.Tag--grey {
  background-color: transparent;
  color: var(--palette-mid);
  border-color: var(--palette-mid);
  text-decoration: none;
  &:hover {
    background-color: var(--palette-action);
    border-color: var(--palette-action);
    color: var(--theme-background);
  }
}

details[open] summary.Tag {
  background-color: var(--palette-action);
  border-color: var(--palette-action);
  color: var(--palette-dark);
}

/* Lists */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

/* Blockquote */
blockquote {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--typeface-heading);
  font-style: normal;
  font-weight: 300;
  leading-trim: both;
  text-edge: cap;
  font-style: normal;

  & p {
    font-style: normal;
    font-size: 25px;
    line-height: 120%; /* 30px */
    + p {
      margin-top: 1em;
    }
  }

  cite {
    font-size: var(--font-size--large);
  }
}

strong,
b {
  font-weight: 700;
}

.Lead {
  font-size: var(--font-size--large);
}

/* UGC */
.ugc {
  hanging-punctuation: first allow-end last;

  & ul,
  & ol {
    padding-inline-start: 1em;
    margin-left: 1em;
  }

  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }

  & * + *,
  & * + .Button {
    margin-block-start: 1em;
  }

  & * + h1,
  & * + h2,
  & * + h3,
  & * + h4,
  & * + h5,
  & * + h6 {
    margin-block-start: 2em;
  }

  & li + li {
    margin-block-start: 0.25em;
  }

  & p,
  & ul,
  & ol {
    line-height: 1.2;
    font-size: var(--font-size--default);
  }
}

/* Tags */
