<div
  class="HomeSection HomeSection--subnav"
  id="about"
  data-bg="yellow"
  data-appear
>
  <div class="Container">
    <div class="Subnav__Grid">
      <nav class="Subnav__Menu">
        <ul>
          <li>
            <a href="#how-it-works" data-section="how-it-works">How it works</a>
          </li>
          <li>
            <a href="#the-programme" data-section="the-programme">
              The Programme
            </a>
          </li>
          <li>
            <a href="#creative-partner" data-section="creative-partner">
              Creative Partner
            </a>
          </li>
        </ul>
      </nav>
      <div class="Subnav__Main">
        <div class="Subnav__Section" id="how-it-works">
          <p class="Subnav__Heading">
            Our funded programmes create a brand proposition and identity to
            secure investment, and set a strong foundation for your business’
            growth.
          </p>
        </div>
        <div class="Subnav__Section" id="the-programme">
          <p class="Subnav__Heading">
            In as little as 12 weeks, our programmes create a brand strategy and
            identity plus the tools to secure investment or maximise the next
            stage of growth.
          </p>
        </div>
        <div class="Subnav__Section" id="creative-partner">
          <div class="Subnav__SectionGrid">
            <div class="Subnav__SectionCell">
              <p>
                FutureKings is an independent creative agency specialising in
                brand strategy, brand identity and brand experience. We partner
                with owner and founder-led companies to use brand as a business
                tool to drive growth.
              </p>
              <p>
                Proudly based in Bristol, our team are the kings and queens of
                strategy, copywriting, design and digital.
              </p>
            </div>
            <div class="Subnav__SectionCell">
              <a href="http://futurekings.co.uk">
                {{ source(directory ~ 'images/fk-logo.svg') }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
