<div
  class="HomeSection HomeSection--subnav"
  id="about"
  data-bg="yellow"
  data-appear
>
  <div class="Container">
    <div class="Subnav__Grid">
      <nav class="Subnav__Menu">
        <ul>
          <li>
            <a href="#how-it-works" data-section="how-it-works">How it works</a>
          </li>
          <li>
            <a href="#the-programmes" data-section="the-programmes">
              The programmes
            </a>
          </li>
        </ul>
      </nav>
      <div class="Subnav__Main">
        <div class="Subnav__Section" id="how-it-works" data-appear>
          <p class="Subnav__Heading AppearFadeMoveIn">
            Our funded programmes create a brand proposition and identity to
            secure investment, and set a strong foundation for growth.
          </p>
          <ul class="IconList">
            <li class="IconList__Item AppearFadeMoveIn Delay">
              {{ source(directory ~ 'images/percent.svg') }}
              <p>
                We fund the project through an exchange of equity.
              </p>
            </li>
            <li class="IconList__Item AppearFadeMoveIn Delay">
              {{ source(directory ~ 'images/assets.svg') }}
              <p>
                We produce kick ass assets, like an investor deck to get you
                noticed.
              </p>
            </li>
            <li class="IconList__Item AppearFadeMoveIn Delay">
              {{ source(directory ~ 'images/tick.svg') }}
              <p>
                PLUS, we're genuine partners through equity, there to support
                you through the rest of the journey
              </p>
            </li>
          </ul>
        </div>
        <div class="Subnav__Section" id="the-programmes" data-appear>
          <p class="Subnav__Heading AppearFadeIn">
            We offer two programmes, specifically designed to support your
            business at 2 critical life-stages.
          </p>
          <ul class="ProgrammeList">
            <li class="ProgrammeList__Item AppearFadeMoveIn Delay">
              <span class="SmallCaps">Start-ups</span>
              <h3><strong>Minimum Viable Brand</strong> (MVB)</h3>
              <p class="Lead">
                Bring your business idea to life and build momentum.
              </p>
              <div class="ugc">
                <p>
                  Getting investment is tough. Our MVB programme gives founders
                  everything you need to generate interest in your business, and
                  get that crucial early stage funding.
                </p>
                <p>
                  The strategy work is light touch but critical and the identity
                  work is prototyping at this stage.
                </p>
                <p>
                  The assets will be everything you need, nothing you don’t, to
                  secure funding.
                </p>
              </div>

              <p class="ProgrammeList__Price h4">
                Starting at £20k - 4-6 weeks
              </p>
              <span class="SmallCaps">Funding options available</span>
            </li>
            <li class="ProgrammeList__Item AppearFadeMoveIn Delay">
              <span class="SmallCaps">Scale-ups</span>
              <h3><strong>Organise for Growth</strong> (OFG)</h3>
              <p class="Lead">
                Make sure your story is compelling and consistent.
              </p>
              <div class="ugc">
                <p>
                  Funding secured, you’re ready to go to market and scale.
                </p>
                <p>
                  Our OFG programme helps you create a consistent, compelling
                  brand to align your growing team and drive growth.
                </p>
                <p>
                  If you’ve been through our MVB, then we build on work done to
                  date. If not, we use the same process, incorporating anything
                  of value you have already.
                </p>
              </div>

              <p class="ProgrammeList__Price h4">
                Starting at £30k - 6-8 weeks
              </p>
              <span class="SmallCaps">Funding options available</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
