<div class="HomeSection" data-bg="black" id="apply" data-appear>
  <div class="Container">
    <h2>Apply</h2>
    <p class="Lead">
      Applications for the 2025-26 programme are open.
    </p>
    <p>
      Please submit the following information and Harry will be in touch within
      24 hours.
    </p>

    {{
      function(
        'do_shortcode',
        '[gravityform id="1" title="false" description="false" ajax="true"]'
      )
    }}
  </div>
</div>
