<div
  class="HomeSection HomeSection--centered"
  id="{{ id }}"
  data-bg="{{ color ? color : 'black' }}"
  data-appear
>
  <div class="Container Container--thin">
    <p class="HomeSection__Heading AnimatedHeading">
      {{ text }}
    </p>
  </div>
</div>
