<div
  class="HomeSection HomeSection--centered"
  id="funded"
  data-bg="black"
  data-appear
>
  <div class="Container">
    <p class="HomeSection__Heading AppearFadeMoveIn">
      Through our <strong>pre-funded</strong> brand programme
    </p>
  </div>
</div>
