<div
  class="HomeSection HomeSection--centered"
  id="help"
  data-bg="black"
  data-appear
>
  <div class="Container">
    <p class="HomeSection__Heading AppearFadeMoveIn">
      We’ve helped <b>10</b> startups get funding
    </p>
  </div>
</div>
