<div
  class="HomeSection HomeSection--centered"
  id="help"
  data-bg="black"
  data-appear
>
  <div class="Container Container--thin">
    <p class="HomeSection__Heading AppearFadeMoveIn">
      We help founders get funding
    </p>
  </div>
</div>
