<div
  class="HomeSection HomeSection--pannels"
  id="how"
  data-bg="black"
  data-appear
>
  <div class="Container">
    <div class="HomePannels">
      <div class="HomePannel ugc">
        <h2>The problem</h2>
        <p>
          Startup founders are cash-strapped. Most boot- strapping where they
          can, cutting corners at every turn.
        </p>
        <p>
          Investing in brand before securing funding can feel daunting, seen
          more as a cost for later than a critical value driver.
        </p>
      </div>
      <div class="HomePannel ugc">
        <h2>The solution</h2>
        <p>
          We remove the cash barrier by equipping startups with their brand: the
          proposition, identity and assets needed.
        </p>
        <p>
          This work, done properly, is game changing for the startup, and is
          paid for by the FKV fund.
        </p>
      </div>
      <div class="HomePannel ugc">
        <h2>The model</h2>
        <p>
          The FKV fund covers the cost of the brand work and pays FK to deliver
          the work.
        </p>

        <p>
          FKV offer the founder a “no win no fee” deal in exchange for equity.
        </p>

        <p>
          When they raise, FKV gets paid and retains the equity.
        </p>
      </div>
    </div>
  </div>
</div>
