<div
  class="HomeSection HomeSection--centered"
  id="investment"
  data-bg="black"
  data-appear
>
  <div class="Container Container--thin">
    <p class="HomeSection__Heading AnimatedHeading">
      Over the last 2 funds we've helped our clients secure
      {# <strong class="HomeSection__Huge">
        £<span class="CountUp__Number" data-number="195">0</span>m
      </strong> #}
      <strong class="HomeSection__Huge">£195m</strong>
    </p>
  </div>
</div>
