<div
  class="HomeSection HomeSection--centered"
  id="investment"
  data-bg="black"
  data-appear
>
  <div class="Container">
    <p class="HomeSection__Heading AppearFadeMoveIn">
      of over <strong class="HomeSection__Huge">£<span
          class="CountUp__Number"
          data-number="195"
        >
          0
        </span>m</strong>
    </p>
  </div>
</div>
