<div
  class="HomeSection HomeSection--centered"
  id="one"
  data-bg="black"
  data-appear
>
  <div class="Container">
    <p class="AppearFadeMoveIn" data-speed="clamp(0.5)">
      <strong>90% of startups fail.</strong>
    </p>
    <p class="AppearFadeMoveIn Delay" data-speed="1.5">
      Of those that do survive, 60% never pass year three.
    </p>
  </div>
</div>

<div
  class="HomeSection HomeSection--centered"
  id="two"
  data-bg="yellow"
  data-appear
>
  <div class="Container">
    <p class="AppearFadeMoveIn">
      Going to market with a <strong>
        clear proposition that carries emotional value
      </strong> — beyond the functional—can dramatically improve those odds.
    </p>
  </div>
</div>

<div
  class="HomeSection HomeSection--centered"
  id="three"
  data-bg="yellow"
  data-appear
>
  <div class="Container">
    <p class="AppearFadeMoveIn">
      It’s the difference between having a product, and inspiring people with
      your story.
    </p>
    <p class="AppearFadeMoveIn Delay">
      <strong>It’s the difference between winning and losing.</strong>
    </p>
  </div>
</div>
