<div
  class="HomeSection HomeSection--text HomeSection--spiral"
  id="power"
  data-bg="yellow"
  data-appear
>
  {{ source(directory ~ 'images/spiral.svg') }}

  <div class="Container">
    <h2 class="AppearFadeMoveIn">The power of brand</h2>
    <p class="AppearFadeMoveIn Delay">
      A well-defined brand has a drastic impact on a startup’s ability to
      attract and secure investment. Investors are evaluating not just the
      business model, but also how well the company can stand out, scale, and
      build trust in the market.
    </p>
    <p class="AppearFadeMoveIn Delay">
      A clear brand turns an early-stage company from “just another startup”
      into a recognisable, investable business.
    </p>
  </div>
</div>
