<div
  class="HomeSection HomeSection--subnav"
  id="the-power-of-brand"
  data-bg="yellow"
>
  <div class="Container">
    <div class="Subnav__Grid">
      <nav class="Subnav__Menu">
        <ul class="Subnav__MenuList">
          <li>
            <a href="#stop-waiting" data-section="stop-waiting">Stop Waiting</a>
          </li>
          <li>
            <a href="#tell-your-story" data-section="tell-your-story">
              Tell your story
            </a>
          </li>
          <li>
            <a href="#lose-the-risk" data-section="lose-the-risk">
              Lose the risk
            </a>
          </li>
        </ul>
      </nav>
      <div class="Subnav__Main">
        <div class="Subnav__Section" id="stop-waiting">
          <p class="Subnav__Heading">
            Brand is a critical value driver and needs considering from day 1.
            But most start ups are cash-strapped and brand is a long way down
            the to-do list.
          </p>
          <p class="Subnav__Heading">
            <strong>We help you get started now.</strong>
          </p>
        </div>
        <div class="Subnav__Section" id="tell-your-story">
          <p class="Subnav__Heading">
            We give you everything you need to wow investors: a clear
            proposition, a brand identity and the assets you need to start
            telling your story to the world.
          </p>
        </div>
        <div class="Subnav__Section" id="lose-the-risk">
          <p class="Subnav__Heading">
            Our FutureKings Ventures fund covers the cost of the brand work.
            It’s a ‘no investment, no fee’ deal in exchange for equity. When you
            successfully raise the fund is repaid, and we retain the equity,
            becoming genuine partners with you for the long-term.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
