<div
  class="HomeSection HomeSection--text"
  id="what"
  data-bg="yellow"
  data-appear
>
  <div class="Container">
    <h2 class="SmallCaps AppearFadeMoveIn">What is FutureKings Ventures?</h2>
    <p class="AppearFadeMoveIn Delay">
      FKV was established to help cash-strapped founders dramatically improve
      their chances of securing investment..
    </p>
  </div>
</div>
