<div class="HomeSection" id="who" data-bg="white" data-appear>
  <div class="HomeWho">
    <h2 class="HomeWho__Title">Whos Invovled</h2>
    <div class="Cell Cell--one ugc">
      <h3 title="FutureKings" class="AppearFadeMoveIn">
        {{ source(directory ~ 'images/logo-fk.svg') }}
      </h3>
      <p class="AppearFadeMoveIn Delay">
        Established in 2016, an independent creative agency specialising in
        brand strategy, brand identity and brand experience.
      </p>
      <p class="AppearFadeMoveIn Delay">
        We partner with owner and founder-led companies to use brand as a
        business tool to drive growth.
      </p>
      <p class="AppearFadeMoveIn Delay">
        We do this across all life stages, from early stage investment to series
        funding rounds, and have a decade of case studies, proven processes and
        an industry-leading team in place to support this FutureKings Ventures
        proposition.
      </p>
      <a
        href="https://futurekings.co.uk"
        class="Button AppearFadeMoveIn Delay"
        target="_blank"
      >
        Visit FutureKings
      </a>
    </div>
    <div class="Cell Cell--two ugc">
      <h3 title="FutureKings Ventures" class="AppearFadeMoveIn">
        {{ source(directory ~ 'images/logo.svg') }}
      </h3>
      <p class="AppearFadeMoveIn Delay">
        A company set up by <strong>Ben Mott</strong>, founder &amp; CEO of
        FutureKings, and <strong>Harry Bailey</strong>, an experienced business
        and marketing leader, with 20 years experience of working in leading
        branding agencies.
      </p>
      <p class="AppearFadeMoveIn Delay">
        Designed to help cash-strapped founders dramatically improve their
        chances of securing investment, by using brand as a business tool.
      </p>
      <p class="AppearFadeMoveIn Delay">
        This is the third FKV funding round, and has been optimised based on
        learnings and insights from Funds 1 &amp; 2 through which we have
        secured equity in 10 startups.
      </p>
    </div>
  </div>
</div>
